footer{
    margin-top: 50px;
}
.main-footer .footer-classic{
    position: relative;
    margin-bottom: 70px;
}
.main-footer .footer-classic::before{
    content: "";
    position: absolute;
    bottom: 39px;
    background-color: #e0dada;
    width: 271px;
    height: 1px;
    left: 13px;
}
.main-footer .footer-classic .list-schedule{

font-size: 1.5rem;
margin-top: 4rem;
font-weight: 500;

}
.main-footer .footer-classic .list-schedule span{


    margin-right: 3.5rem;
    line-height: 1.8;
    
    }
    .main-footer .footer-classic .list-schedule Li span:nth-child(2),   
     .main-footer .footer-classic .list-schedule Li span:nth-child(4){
         color: rgb(170, 166, 166);
         font-weight: 400;
     }
     .main-footer .footer-classic .footer-classic-social p{
         text-align: left;
         margin-top: 20px;
     }
     .main-footer h4{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 4rem; 
     }
     .unit .unit-left span{
     color: #7fd02c;
     font-size: 1.5rem;


     }
     .unit .unit-body{
         font-size: 1.5rem;
         line-height: 1.7;
         margin-bottom: 14px;
     }
   .footer-form p{
    color: #777777;
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: left;
   }
   .footer-form .form-wrap .form-input{
       outline: none;
       border: none;
       border-bottom: 1px solid #e0dada; ;
       width:250px;
       height: 50px;

   }
   .footer-form .form-wrap .form-input::placeholder{
       font-size: 1.7rem;
       color: black;
   }


.end-footer{
    width: 100%;
    padding: 2rem 0;
    background-color: rgb(231, 231, 231);
}
.footer-icon{
    font-size: 4rem;
     margin-left: 4rem; 
    background-color: transparent;
    color: rgb(194, 187, 187);
}
p{
    font-size:1.7rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

